:root {
  --dark: #66635b;
  --mid: #a59e8c;
  --light: #d7ceb2;
  --dark-accent: #363e45;
  --light-accent: #93a8ac;
}

body {
  background-color: var(--mid);
  margin: 10px;
}

section {
  background-color: var(--light);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* section, main, figure, article, div {
    border: 1px solid black;
    justify-items: center;
} */

.carousel-inner {
  border-radius: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
  border-radius: 10px;
}

.carousel-item {
  padding: 2.5em;
  background-color: rgba(0, 0, 0, 0.7);
}
